@font-face {
  font-family: "iconfont"; /* Project id 3879074 */
  /* Color fonts */
  src: 
       url('//at.alicdn.com/t/c/font_3879074_g5bvfgkyvap.woff2?t=1675609882202') format('woff2'),
       url('//at.alicdn.com/t/c/font_3879074_g5bvfgkyvap.woff?t=1675609882202') format('woff'),
       url('//at.alicdn.com/t/c/font_3879074_g5bvfgkyvap.ttf?t=1675609882202') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-comments:before {
  content: "\e61d";
}

.icon-movies:before {
  content: "\e601";
}

.icon-gallery:before {
  content: "\e626";
}

.icon-tags:before {
  content: "\e742";
}

.icon-music:before {
  content: "\e60a";
}

.icon-wendang:before {
  content: "\e6a4";
}

.icon-shenghuo:before {
  content: "\e75a";
}

.icon-archives:before {
  content: "\e600";
}

.icon-charts:before {
  content: "\ec62";
}

.icon-wenzhang:before {
  content: "\ec64";
}

.icon-home:before {
  content: "\e699";
}

.icon-lianjie:before {
  content: "\e641";
}

.icon-fenlei:before {
  content: "\e791";
}

.icon-guanyu-banben:before {
  content: "\e6f9";
}

.icon-wulianwang:before {
  content: "\e640";
}

.icon-blog:before {
  content: "\e717";
}

.icon-linux:before {
  content: "\e6cf";
}

.icon-agora-iconography-12:before {
  content: "\e606";
}

.icon-suanfaku:before {
  content: "\e7fc";
}

.icon-he_41timuguanli:before {
  content: "\e712";
}
